/* Tipografía */
@font-face {
  font-family:"Quebec Bold";
  src:url("../fonts/Quebec-Bold.woff2") format("woff2"),url("../fonts/Quebec-Bold.woff") format("woff");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"Quebec Bold Italic";
  src:url("../fonts/Quebec-BoldItalic.woff2") format("woff2"),url("../fonts/Quebec-BoldItalic.woff") format("woff");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"Quebec SemiBold Regular";
  src:url("../fonts/Quebec-SemiBold.woff2") format("woff2"),url("../fonts/Quebec-SemiBold.woff") format("woff");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"Quebec SemiBold Italic";
  src:url("../fonts/Quebec-SemiBoldItalic.woff2") format("woff2"),url("../fonts/Quebec-SemiBoldItalic.woff") format("woff");
  font-style:normal;font-weight:400;
}

/****************************************
*    Variables
*****************************************/
:root {
  /* Colors */
  --background: #ffffff;
  --primary: #000000;
  /* Typography */
  --font-family: "Quebec SemiBold Regular";
}

/* Resets */
html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}blockquote,body,figure,h1,h2,h3,h4,h5,h6,hr,li,ol,pre,ul{margin:0;padding:0}ul{list-style:none}button,input,select,textarea{color:inherit;font:inherit;letter-spacing:inherit}button,input,textarea{border:1px solid gray}button{border-radius:0;padding:.75em 1em;background-color:transparent}button *{pointer-events:none}embed,iframe,img,object,video{display:block;max-width:100%}table{table-layout:fixed;width:100%}[hidden]{display:none}noscript{display:block;margin-bottom:1em;margin-top:1em}

/****************************************
*    Base - Elements
*****************************************/
html {
  height: 100%;
}

body {
  display: grid;
  color: var(--primary);
  background: var(--background);
  font-family: var(--font-family);
  font-size: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
}

/* Tipografía */
p {
  font-size: 1em;
}

h1 {
  font-family:"Quebec Bold";
  font-size: 2em;
  line-height: 1.25;
}

h2 {
  font-family:"Quebec Bold";
  font-size: 1.6em;
  line-height: 1.2;
}

h3 {
  font-family:"Quebec Bold";
  font-size: 1.4em;
  line-height: 1.15;
}

h4 {
  font-family:"Quebec Bold";
  font-size: 1.2em;
  line-height: 1;
}

/* Tipografía responsiva */
/* https://css-tricks.com/snippets/css/fluid-typography */
body {
  font-size: calc(16px + (20 - 16) * ((100vw - 720px) / (1400 - 720)));
}

/****************************************
*    Componentes
*****************************************/

/*
.container {
    display: flex;
    min-height: 100vh;
}

.navegacion {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.navegacion > * {
    flex: auto;
}

.navegacion header {
    border: 1px solid black;
}

.navegacion footer {
   border: 1px solid black;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}
*/

/* Header */
.header {
grid-area: Header;
}

/* Main */
.main {
  grid-area: Main;
}

/* Footer */
.footer {
  grid-area: Footer;
}


/* Helpers */
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px 200px;
  grid-template-areas: 
  "Header Main"
  "Footer Main";
}